<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <a th:href="@{'/drivers/edit/' + ${driver.id}}">Edit</a>
    <a th:href="@{'/drivers/delete/' + ${driver.id}}">Delete</a></br>

    <b>Name: </b><span th:text="${driver.name}"></span></br>
    <b>Age: </b><span th:text="${driver.age}"></span></br>
    <b>Salary: </b><span th:text="${driver.salary}"></span></br>
    <b>Cars: </b></br>
    <li th:each="car, iter: ${driver.cars}">
        <a th:href="@{'/cars/detail/' + ${car.id}}">
            <span th:text="${car.model}"></span>
        </a>
    </li>

</body>
</html>