<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: template('Anime',~{::content})">
<section th:fragment="content">
    <h1 th:text="${anime.title}">Anime Title</h1>
    <p><strong>Description:</strong> <span th:text="${anime.description}"></span></p>
    <p><strong>Episodes:</strong> <span th:text="${anime.episodes}"></span></p>
    <p><strong>Genres:</strong>
        <span th:each="genre : ${anime.genres}">
                <span th:text="${genre.name}"></span>,
            </span>
    </p>
    <p><strong>Average Rating:</strong> <span th:text="${averageRating}"></span></p>
    <a class="btn btn-secondary" href="/anime">Back to List</a>
</section>