<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
  <form th:action="@{'/cars/save'}" method="post" th:object="${car}">
      <input type="hidden" th:field="*{getId()}">
    SPZ: <input type="text" th:field="*{spz}">
      <span th:errors="*{spz}"></span><br>
    Color: <input type="text" th:field="*{color}">
      <span th:errors="*{color}"></span><br>
    model: <input type="text" th:field="*{model}">
      <span th:errors="*{model}"></span><br>
    Tank volume: <input type="number" th:field="*{tankVolume}">
      <span th:errors="*{tankVolume}"></span><br>
    Number of seats: <input type="number" th:field="*{numberOfSeats}">
      <span th:errors="*{numberOfSeats}"></span><br>

      <input type="submit" />
  </form>
</body>
</html>